.section {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

}
.section__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem;
}
.section__img img{
    margin-top: 1rem;
    width: 520px;
    height: 600px;
    padding: 10px;
    object-fit: cover;
}
.section__content {

    margin: 0 auto;
    line-height: 50px;
    text-align: center;}